<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<!--     <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>


    <title>device info</title
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import libraries -->
    <script src="/lib/peerjs.js"></script>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/iot.js" type="module"></script>
  </head>
  <body>
    <h3>IOT mock device</h3>   
    <div class="messages">
      
    </div>
  </body>
</html>
